.product-section__category__filter-main-container{
   width: 90%;
   
    position: absolute;
    bottom: -162%;
    z-index: 50;
    
}

.result-container-show{
    display: flex;

    position: absolute;
    top: 0;
    margin-top: 6*12px;
    z-index: 10;
}

.result-container-hide{
    display: none;
}



.product-section__category__filter__category-results-container{
   
    width: 90%;
    
    z-index: 10;
    height: auto;
    
}
.product-section-_category__filter__categories-main-container{
   
    width: 100%;
    backdrop-filter: blur(1px);
    
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}


.product-senction__category__filter__categories-container{
    margin-top: -16px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
    
  
   
    
    p{
        background-color: rgba(102, 102, 102, 1);
        
        border-radius: 4px;
        max-width: fit-content;
        padding: 4px 9px 4px 9px;
        margin:5px 6px 5px 6px;
        





    }
  
}




.product-section__category__filter-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
   div{
   
    padding-top: 0;
    padding-bottom: 0;
   }


    



    .product-section__category-filter__icon{
        font-size: 2em;

    }
}





@media (min-width: 768px){
    .product-section__category__filter-main-container{
        
         bottom: -192%;
      
     }

     .product-section__category__filter__category-results-container{
   
        width: 80%;
    }
}

@media (min-width: 1200px){
    .product-section__category__filter-main-container{
        
         bottom: -272%;
      
     }
     .product-section__category__filter__category-results-container{
   
        width: 70%;
    }
}

@media (min-width: 1600px){

     .product-section__category__filter__category-results-container{
   
        width: 50%;
    }
}